
<style>
    #titulo2{
        position: absolute;
        left: 45%;
        top:95%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 35px;
    }
    #output{
        margin-top: 5px;
        position: absolute;
        box-sizing: border-box;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 80%;
        padding: 20px;
        border: 2px solid rgba(76, 177, 36, 0.568);
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0,0,0,0.1);
        resize: none;
        outline: none;
        font-size: 1.3em;
        color: #898989;
        font-family: 'Source Code Pro';
        font-weight: 300;

    }
    #titulo{
        position: absolute;
        left: 40%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 35px;
        
    }
    html, body {
        width: 100%;
        height: 100%;
        color: #444;
        }
    #btn {
        position: relative;
        left: 10%;
        top: 650px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        color: #444;
        display: inline;
        font-size: 40px;
        
    }
    textarea {
        margin-top: 15px;
        position: absolute;
        box-sizing: border-box;
        top: 10%;
        left: 5%;
        width: 90%;
        height: 80%;
        padding: 20px;
        border: 1px solid  rgba(204, 204, 204, 0.377);
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0,0,0,0.1);
        resize: none;
        outline: none;
        font-size: 1.3em;
        color: #898989;
        font-family: 'Source Code Pro';
        font-weight: 300;
        }
</style>
<h1 id="titulo">Sorted Sentences</h1>
<div style="padding:5%">
    <div id="output" style="overflow:scroll; height:500px; padding:5%">
        <ol>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
    </div>
</div>